<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
    <title>InstaClone</title>
</head>

<body>
    <div>
        <div>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <form class="form-inline" action="/signin" method="get">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login In</button>
                </form>
                <form class="form-inline" action="/signup" method="get">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
                </form>
            </nav>
        </div>

        <div class="content">
            <h1>Welcome to InstaClone</h1>
            <h5>About Instgram</h5>
            <p>Instagram[a] is an American photo and video sharing social networking service founded by Kevin Systrom
                and Mike Krieger. In April 2012, Facebook Inc. acquired the service for approximately US$1 billion in
                cash and stock. The app allows users to upload media that can be edited with filters and organized by
                hashtags and geographical tagging. Posts can be shared publicly or with pre-approved followers. Users
                can browse other users' content by tags and locations and view trending content. Users can like photos
                and follow other users to add their content to a personal feed.[10]

                Instagram was originally distinguished by only allowing content to be framed in a square (1:1) aspect
                ratio with 640 pixels to match the display width of the iPhone at the time. In 2015, these restrictions
                were eased with an increase to 1080 pixels. The service also added messaging features, the ability to
                include multiple images or videos in a single post, and a 'stories' feature—similar to its main
                opposition Snapchat—which allows users to post photos and videos to a sequential feed, with each post
                accessible by others for 24 hours each. As of January 2019, the Stories feature is used by 500 million
                users daily.[10]</p>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    Know More About it?
                </div>
                <div class="card-body">
                    <h5 class="card-title">Online Social Platform</h5>
                    <p class="card-text">Still Not Satisfied</p>
                    <a href="https://en.wikipedia.org/wiki/Instagram" class="btn btn-primary">Click Here</a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>